[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
pydantic = "*"
fastapi = "*"
heroku = "*"
media = "*"

[dev-packages]

[requires]
python_version = "3.9.9"
